@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Medium.woff) format("woff");
}

body {
  font-family: "Gilroy";
}

footer {
  background-color: #c4c4c4;
}

.footer_container {
  padding: 47px 137px 48px 137px;
  display: grid;
  grid-template-columns: 355px 240px 420px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "map address ip"
    "map phone social"
    "map time .";
  grid-column-gap: 124px;
  justify-content: center;
}

.map {
  grid-area: map;
  grid-column: 1;
  grid-row: 1 / 5;
  top: 0;
}

.address {
  grid-area: address;
}

.phone {
  grid-area: phone;
}

.time {
  grid-area: time;
}

.ip {
  grid-area: ip;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.icons_social {
  grid-area: social;
  display: flex;
  margin-top: 21px;
}

.icons_social > svg {
  margin-right: 23px;
}

.unp {
  margin-top: 8px;
}

.address::before {
  content: url(icons/point.svg);
  margin-right: 8px;
}

.phone::before {
  content: url(icons/phone.svg);
  margin-right: 8px;
}

.time::before {
  content: url(icons/clock.svg);
  margin-right: 5px;
}

.address,
.phone,
.time {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.info_color {
  color: #646464;
  margin-bottom: 3px;
}
