body {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Начало Header*/
:root {
  --header-and-main-background-color: white;
}

.header_layer_1 {
  display: flex;
  height: 108px;
  background-color: var(--header-and-main-background-color);
  opacity: 0;
}

#logo {
  position: absolute;
  width: 150px;
  height: 46.06px;
  left: 142px;
  top: 40px;
}

#catalogue_list {
  margin: 0px;
}

.navigation_words {
  position: absolute;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;
  top: 53px;
  list-style-type: none;
}

#women {
  width: 100px;
  left: 312px;
  text-align: center;
}

#men {
  width: 36px;
  left: 432px;
}

#support {
  width: 67px;
  left: 488px;
}

#review {
  width: 58px;
  left: 575px;
}
/*Конец Header*/

/*Начало Main page*/

.content {
  display: flex;
  height: 4840px;
}

@font-face {
  font-family: "Swis 721 Hv BT";
  src: url(fonts/Swiss721BT-Heavy.woff) format("woff");
}

#autumn {
  position: absolute;
  width: 561px;
  height: 288px;
  left: 125px;
  top: 338px;
  font-family: "Swis721 Hv BT";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
}

#Model_in_black {
  position: absolute;
  width: 720px;
  left: 720px;
  top: 50px;
}

#Red_clothes {
  position: absolute;
  width: 669px;
  height: 694px;
  left: 0px;
  top: 1022px;
}

.pink_words {
  font-family: Swis721 Blk BT;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 115px;
  text-align: center;
  color: #feadd9;
}

#About_us {
  position: absolute;
  width: 543px;
  left: 714px;
  top: 1072px;
}

.usual_words {
  position: absolute;
  width: 600px;
  height: 308px;
  left: 714px;
  top: 1223px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
}
/*Конец Main page*/

/*Начало футера*/

@font-face {
  font-family: "Gilroy";
  src: url(fonts/Gilroy-Medium.woff) format("woff");
}

footer {
  background-color: #c4c4c4;
}

.footer_container {
  padding: 47px 137px 48px 137px;
  display: grid;
  grid-template-columns: 355px 240px 420px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "map address ip"
    "map phone social"
    "map time .";
  grid-column-gap: 124px;
  justify-content: center;
}

.map {
  grid-area: map;
  grid-column: 1;
  grid-row: 1 / 5;
  top: 0;
}

.address {
  grid-area: address;
}

.phone {
  grid-area: phone;
}

.time {
  grid-area: time;
}

.ip {
  grid-area: ip;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.icons_social {
  grid-area: social;
  display: flex;
  margin-top: 21px;
}

.icons_social > svg {
  margin-right: 23px;
}

.unp {
  margin-top: 8px;
}

.address::before {
  content: url(icons/point.svg);
  margin-right: 8px;
}

.phone::before {
  content: url(icons/phone.svg);
  margin-right: 8px;
}

.time::before {
  content: url(icons/clock.svg);
  margin-right: 5px;
}

.address,
.phone,
.time {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.info_color {
  color: #646464;
  margin-bottom: 3px;
}

/*Конец футера*/
